{% extends 'base.html' %}
<h1>Home page</h1>

{% block head %}
  <title>Home</title>
{% endblock %}

{% block body %}
<br>
  <h1 align=center>Home</h1>
  <br>
  <h4>
Company Introduction

CAREDOC HEALTHTECH PRIVATE LIMITED is a Private Company limited by Shares.
<br>
It is registered with Registrar of Companies, Mumbai on Aug 30, 2017.
<br><br>
Current Status of Caredoc Healthtech Private Limited is Active.
<br><br>
It is a Non-govt company with an Authorized Capital of ₹ 1,00,000 (One Lakh Indian Rupees)
<br>
  and Paid Up Capital of ₹ 1,00,000 (One Lakh Indian Rupees).
<br><br>
There are 2 Directors associated with Caredoc Healthtech Private Limited.
<br><br>
They are: Dhruv Inderjeet Malik and Taruna Inderjeet Malik.
<br><br>
Corporate Identification Number (CIN) of Caredoc Healthtech Private Limited is U93000MH2017PTC299157
<br>
  and its Registration Number is 299157.
<h4>
{% endblock %}
